/* FLOATING SIDE MENU */

#menuJF 	{
		width: 36px;
		height: auto;
		position: absolute;
		z-index: 10;
		margin-top: 125px;
		top: 0px;
		left: 0px;
		text-align: left;
		padding: 5px 2px 3px 0px;
		background-color: #D1D8E8;
	/* CORNER ROUNDING */
		-moz-border-radius: 0px 4px 4px 0px;
		-webkit-border-radius: 0px 4px 4px 0px;
		border-radius: 0px 8px 8px 0px;
	/* BORDER */
		border: solid #000000;
		border-width: 0px 0px 0px 0px;
		opacity: 0.9;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}

#menuJF img	{
		display: block;
		margin: 12px auto 4px 0px;  /* SPACE BETWEEN ICONS */
		}





/***************
Media Queries - WHEN PAGE WIDTH LESS THAN 482 IS ACTIVE
***************/

@media handheld and (max-width: 482px),
   screen and (max-device-width: 482px),
   screen and (max-width: 482px) 
	{



/* HIDES FLOATING MENU ON SMARTPHONES - DELETE LINE TO ALLOW */

/*#menuJF	{ display: none; }*/

#menuJF 	{
			width: 10%;
		}

	}
/***************
END Media Queries
***************/
